/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif; }

strong {
  font-weight: bold; }

div, ul, li {
  margin: 0;
  padding: 0; }

img {
  display: none; }

ul, li {
  list-style: none; }

div ul li:first-child img {
  display: block; }

body:hover {
  cursor: pointer; }

#click, #loading-text {
  background: green;
  color: #f9f9f9;
  top: 30px;
  left: 30px; }

#loading-text {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  left: 30px; }

#err {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  line-height: 210%;
  left: 30px; }

#try {
  background: #688791;
  color: #f9f9f9;
  top: 165px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.8;
  font-weight: normal; }

#try a:first-child {
  padding-top: 15px; }

#try a {
  color: #f1dd98;
  padding-left: 2px; }

#try a:hover {
  color: #cbcbcb; }

#try div {
  width: 100%;
  padding-bottom: 15px; }

#url {
  background: #f0f0f0;
  color: #808080;
  top: 30px;
  left: 30px;
  border: none;
  font-weight: normal; }

#url:focus {
  border: none; }

#logo {
  bottom: 30px;
  right: 30px;
  position: absolute; }

#logo img {
  display: block !important; }

.top {
  position: absolute;
  padding: 15px;
  font-size: 200%;
  font-weight: bold;
  font: 'helvetica nue',helvetica,arial,sans-serif;
  width: 50%; }

.share {
  position: absolute;
  bottom: 15px;
  right: 15px; }

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (min-width : 1224px) {
  .top {
    width: 22%; }

  #loading-text {
    width: 8%; }

  #try {
    font-size: 26px;
    line-height: 31px;
    width: 720px; }

  #url {
    padding: 25px 20px;
    width: 20%; }

  #click {
    width: 655px;
    font-size: 31px; }

  #err {
    width: 545px; } }
