/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  position: fixed; }

strong {
  font-weight: bold; }

div, ul, li {
  margin: 0;
  padding: 0; }

img {
  display: none; }

ul, li {
  list-style: none; }

div ul li:first-child img {
  display: block; }

#goodstuff:hover, #goodthing:hover {
  cursor: pointer; }

#click, #loading-text {
  background: green;
  color: #f9f9f9;
  top: 30px;
  left: 30px; }

#loading-text {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  left: 30px; }

#err {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  line-height: 210%;
  left: 30px; }

#try {
  background: #688791;
  color: #f9f9f9;
  top: 165px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.8;
  font-weight: normal; }

#try a:first-child {
  padding-top: 15px; }

#try a {
  color: #f1dd98;
  padding-left: 2px; }

#try a:hover {
  color: #cbcbcb; }

#try div {
  width: 100%;
  padding-bottom: 15px; }

#input {
  width: 100%;
  position: absolute;
  height: 100%; }
  #input .logo {
    position: relative;
    margin: 100px auto 0;
    width: 500px;
    display: block; }
    #input .logo img {
      display: block !important; }
  #input .wrapper {
    width: 700px;
    display: block;
    margin: 0 auto; }
  #input input.url {
    background: #f0f0f0;
    color: #808080;
    top: 30px;
    left: 30px;
    border: 3px solid #222;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(left top, #f9f9f9, #f0f0f0);
    background-image: -moz-linear-gradient(left top, #f9f9f9, #f0f0f0);
    background-image: -o-linear-gradient(left top, #f9f9f9, #f0f0f0);
    background-image: -ms-linear-gradient(left top, #f9f9f9, #f0f0f0);
    background-image: linear-gradient(left top, #f9f9f9, #f0f0f0);
    -webkit-box-shadow: 0px 0px 6px #343434;
    -moz-box-shadow: 0px 0px 6px #343434;
    box-shadow: 0px 0px 6px #343434;
    width: 600px;
    height: 50px;
    display: block;
    margin: 5px auto 0;
    font-size: 32px;
    color: #555;
    padding: 20px; }
    #input input.url.blur {
      color: #CCC;
      font-style: italic; }
  #input .welcome {
    display: block;
    margin: 30px auto 0;
    width: 600px;
    color: #f9f9f9;
    text-shadow: rgba(52, 52, 52, 0.6) 0px 1px 3px; }
    #input .welcome p {
      margin: 0 0 60px 0;
      text-align: center;
      font-weight: bold; }
      #input .welcome p a {
        color: #e23e80; }
        #input .welcome p a:hover {
          color: #343434; }
        #input .welcome p a.error {
          color: #0096ff;
          line-height: 85px; }
          #input .welcome p a.error:hover {
            color: #343434; }
    #input .welcome .t {
      font-size: 34px;
      line-height: 38px; }
    #input .welcome .b {
      font-size: 30px;
      line-height: 50px;
      padding-left: 25px;
      margin-bottom: 0px; }

#url:focus {
  border: none; }

#logo {
  bottom: 30px;
  right: 30px;
  position: absolute; }

.top {
  position: absolute;
  padding: 15px;
  font-size: 200%;
  font-weight: bold;
  font: 'helvetica nue',helvetica,arial,sans-serif;
  width: 50%; }

.share {
  position: absolute;
  top: 15px;
  right: 15px; }
  .share div {
    float: right;
    margin: 0 0 0 5px;
    width: 80px; }
    .share div.tw {
      margin-left: 12px; }

.logo-small {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .logo-small img {
    display: block !important; }

.new-gallery {
  position: absolute;
  right: 15px;
  bottom: 20px;
  display: none; }
  .new-gallery a {
    color: #f9f9f9;
    text-shadow: rgba(52, 52, 52, 0.6) 0px 1px 3px;
    padding: 6px 10px;
    font-size: 14px;
    background: #0096ff;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 6px #343434;
    -moz-box-shadow: 0px 0px 6px #343434;
    box-shadow: 0px 0px 6px #343434; }
    .new-gallery a:hover {
      background: #e23e80;
      text-decoration: none;
      cursor: pointer; }

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (min-width : 1224px) {
  .top {
    width: 22%; }

  #loading-text {
    width: 8%; }

  #try {
    font-size: 26px;
    line-height: 31px;
    width: 720px; }

  #url {
    padding: 25px 20px;
    width: 20%; }

  #click {
    width: 655px;
    font-size: 31px;
    line-height: 46px; }

  #err {
    width: 545px; } }
/* animations */
.animated {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -ms-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animatedfast {
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.1); }

  100% {
    -moz-transform: scale(1); } }

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1); }

  50% {
    -ms-transform: scale(1.1); }

  100% {
    -ms-transform: scale(1); } }

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(1.1); }

  100% {
    -o-transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.1); }

  100% {
    transform: scale(1); } }

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -ms-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse; }
