/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	font-family:'helvetica neue', helvetica, arial, sans-serif;
}

strong {
	font-weight:bold;
}

div, ul, li {
	margin:0;
	padding:0;
}

img {
	display:none;
}

ul, li {
	list-style:none;
}

div ul li:first-child img{
	display:block;
}

body:hover {
	cursor:pointer;
}

#click, #loading-text {
	background:green;
	color:#f9f9f9;
	top:30px;
	left:30px;
}

#loading-text {
	background:#10b8e9;
	color:#f1dd98;
	top:30px;
	left:30px;
}

#err {
	background:#10b8e9;
	color:#f1dd98;
	top:30px;
	line-height:210%;
	left:30px;
}

#try {
	background:#688791;
	color:#f9f9f9;
	top:165px;
	left:30px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  	opacity: 0.8;
	font-weight: normal;
}

#try a:first-child {
	padding-top:15px;
}

#try a {
	color:#f1dd98;
	padding-left:2px;
}

#try a:hover {
	color:#cbcbcb;
}

#try div{
	width:100%;
	padding-bottom:15px;
}

#url {
	background:#f0f0f0;
	color:#808080;
	top:30px;
	left:30px;
	border:none;
	font-weight:normal;
}

#url:focus {
	border:none;
}

#logo {
	bottom:30px;
		right:30px;
		position:absolute;
}

#logo img {
	display:block !important;
}

.top {
	position:absolute;
	padding:15px;
	font-size:200%;
	font-weight:bold;
	font:'helvetica nue',helvetica,arial,sans-serif;
	width:50%;
}

.share {
	position:absolute;
	top:20px;
	right:20px;
	z-index:9999;
	padding:10px 10px 6px 10px;
	background:#343434;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  	opacity: 0.5;
}

.share a {
	color:#f9f9f9;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width : 1224px) {
	.top {
		width:22%;
	}
	
	#loading-text {
		width:8%;
	}
	
	#try {
		font-size: 26px;
		line-height: 31px;
		width: 720px;
	}
	
	#url {
		padding:25px 20px;
		width:20%;
	}
	
	#click {
		width: 655px;
		font-size: 31px;
	}
	#err {
		width:545px;
	}
}
