/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../scss/style.scss */
body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/* line 12, ../scss/style.scss */
strong {
  font-weight: bold;
}

/* line 16, ../scss/style.scss */
div, ul, li {
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/style.scss */
img {
  display: none;
}

/* line 25, ../scss/style.scss */
ul, li {
  list-style: none;
}

/* line 29, ../scss/style.scss */
div ul li:first-child img {
  display: block;
}

/* line 33, ../scss/style.scss */
body:hover {
  cursor: pointer;
}

/* line 37, ../scss/style.scss */
#click, #loading-text {
  background: green;
  color: #f9f9f9;
  top: 30px;
  left: 30px;
}

/* line 44, ../scss/style.scss */
#loading-text {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  left: 30px;
}

/* line 51, ../scss/style.scss */
#err {
  background: #10b8e9;
  color: #f1dd98;
  top: 30px;
  line-height: 210%;
  left: 30px;
}

/* line 59, ../scss/style.scss */
#try {
  background: #688791;
  color: #f9f9f9;
  top: 165px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.8;
  font-weight: normal;
}

/* line 69, ../scss/style.scss */
#try a:first-child {
  padding-top: 15px;
}

/* line 73, ../scss/style.scss */
#try a {
  color: #f1dd98;
  padding-left: 2px;
}

/* line 78, ../scss/style.scss */
#try a:hover {
  color: #cbcbcb;
}

/* line 82, ../scss/style.scss */
#try div {
  width: 100%;
  padding-bottom: 15px;
}

/* line 87, ../scss/style.scss */
#url {
  background: #f0f0f0;
  color: #808080;
  top: 30px;
  left: 30px;
  border: none;
  font-weight: normal;
}

/* line 96, ../scss/style.scss */
#url:focus {
  border: none;
}

/* line 100, ../scss/style.scss */
#logo {
  bottom: 30px;
  right: 30px;
  position: absolute;
}

/* line 106, ../scss/style.scss */
#logo img {
  display: block !important;
}

/* line 110, ../scss/style.scss */
.top {
  position: absolute;
  padding: 15px;
  font-size: 200%;
  font-weight: bold;
  font: 'helvetica nue',helvetica,arial,sans-serif;
  width: 50%;
}

/* line 119, ../scss/style.scss */
.share {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 10px 10px 6px 10px;
  background: #343434;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  opacity: 0.5;
}

/* line 130, ../scss/style.scss */
.share a {
  color: #f9f9f9;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (min-width : 1224px) {
  /* line 143, ../scss/style.scss */
  .top {
    width: 22%;
  }

  /* line 147, ../scss/style.scss */
  #loading-text {
    width: 8%;
  }

  /* line 151, ../scss/style.scss */
  #try {
    font-size: 26px;
    line-height: 31px;
    width: 720px;
  }

  /* line 157, ../scss/style.scss */
  #url {
    padding: 25px 20px;
    width: 20%;
  }

  /* line 162, ../scss/style.scss */
  #click {
    width: 655px;
    font-size: 31px;
  }

  /* line 166, ../scss/style.scss */
  #err {
    width: 545px;
  }
}
